{{!
    This file is part of readinglist

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_readinglist/view


    Example context (json):
    {
        
    }
}}

<h1>{{readinglistname}}</h1>
<hr>
<p>This reading list has {{numberofentries}} items.</p>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{{#items}}
<tr>
      <th scope="row">{{id}}</th>
      <td>{{title}}</td>
      <td>{{type}}</td>      
      <td><a href="{{{inspecturl}}}" class="btn btn-primary text-white">View Item</a></td>
      <td><a href="{{{removeurl}}}" class="btn btn-danger text-white">Remove from this list</a></td>
</tr>
{{/items}}
  </tbody>
</table>


<hr>
<a type="button" class="btn btn-success" href="{{{addbookurl}}}">Add new book</a>
<a type="button" class="btn btn-success" href="{{{addarticleurl}}}">Add new article</a>
<a type="button" class="btn btn-success" href="{{{addwebsiteurl}}}">Add new website</a>
<a type="button" class="btn btn-primary" href="{{{selecturl}}}">Select from existing items</a>
<a type="button" id="create-modal" class="btn btn-primary" href="#">test</a>
