{{!
    This file is part of readinglist

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_readinglist/view


    Example context (json):
    {
        
    }
}}

<h1>{{readinglistname}}</h1>
<hr>
<p>Showing {{numberofentries}} items.</p>
<br>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th style="width: 50px;" scope="col">Link</th>
      <th scope="col">Type</th>
      <th scope="col">ISBN</th>
      <th scope="col">Edition</th>
      <th scope="col">Page Range</th>
      <th scope="col">Chapter</th>
      <th scope="col">Website Name</th>
      <th scope="col">Journal</th>
      <th scope="col">Volume</th>
      <th scope="col">Issue</th>
      <th scope="col">DOI</th>
      <th style="width: 100px;" scope="col"></th>
      <th style="width: 120px;" scope="col"></th>
    </tr>
  </thead>
  <tbody>
{{#allitems}}
<tr>
      <th scope="row">{{id}}</th>
      <td>{{title}}</td>
      <td><a target="new" href="{{{url}}}">{{url}}</a></td>
      <td>{{type}}</td>      
      <td>{{isbn}}</td>
      <td>{{edition}}</td>
      <td>{{pagerange}}</td>
      <td>{{chapter}}</td>
      <td>{{name}}</td>
      <td>{{journal}}</td>
      <td>{{volume}}</td>
      <td>{{issue}}</td>
      <td>{{doi}}</td>
      <td><a href="{{{modifythisurl}}}" class="btn btn-warning text-white">Modify</a></td>
      <td><a href="{{{addthisurl}}}" class="btn btn-success text-white">Add to list</a></td>
</tr>
{{/allitems}}
  </tbody>
</table>


<hr>
<a type="button" class="btn btn-success" href="{{{addbookurl}}}">Add new book</a>
<a type="button" class="btn btn-success" href="{{{addarticleurl}}}">Add new article</a>
<a type="button" class="btn btn-success" href="{{{addwebsiteurl}}}">Add new website</a>
<a type="button" class="btn btn-primary" href="{{{selecturl}}}">Select from existing items</a>